// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px / 16px = 75em
$bp-large: 62.5em; //1000px / 16px = 62.5em
$bp-medium: 50em; //800px / 16px = 50em
$bp-small: 37.5em; //600px / 16px = 37.5em

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/160x * 100 = 62.5%

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%; //1rem = 8px, 8px/160x * 100 = 50%
    }

}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    color: $color-grey-dark-2;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    /* 80vh = maintains 80% height for all devices.
    min-content = auto (both are same), they occupy the size of the content specified, if the content grows, row grows.
    40vw = the row height is 40% of the screen width, as the screen width decreases, the screen height reduces in size.*/

    //8 COLUMN GRID LAYOUT
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    /* 1140px/8 = 142.5px = 14rem = max width of each grid.
    for centering the 8 columns we use minmax(6rem, 1fr) columns on either side, 6rem = for fixed margin in small screens,
    if there was no side bar, we could use margin: 0 auto; or justify content*/


    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); //adding 6rem = 6 x 8 = 48px, sidebar as new row
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); //adding new row, min-content for realtors
        //changing 40vw to min-content
       
    }

}